<template>
    <div class="text-center">
        <div class="quotes-editor">
            <h4>Quote</h4>
            <textarea name="quoteEditor" cols="100" rows="5" v-model="quote" placeholder="Write quote here"></textarea>
            <div class="message">
                <button v-if="!disabledButton" @click="createQuote">Add Quote</button>
                <p v-else>Please delete some quote if you want to create another one.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {eventBus} from '../main'
    
    export default {
        data() {
            return {
                quote: '',
                disabledButton: false
            }
        },
        methods: {
            createQuote() {
                if (this.quote != '') {
                    eventBus.$emit('quoteCreated', this.quote);    
                } else {
                    alert('please write something');
                }
                
            }
        },
        created() {
            eventBus.$on('deleteQuote', () => {
                this.disabledButton = false;
            });
            eventBus.$on('maxQuotes', () => {
                this.disabledButton = true;
            });
        }
    }
</script>

<style scoped>
    button {
        background-color: #0084b4;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;
    }
    .quotes-editor {
        display: inline-block;
    }
    .quotes-editor h4 {
        text-align: left;
    }
    .message {
        margin: 20px 0 20px 0;
    }
</style>