<template>
    <div @click="deleteQuote" class="quote">
        <slot></slot>
    </div>
</template>

<script>
    import {eventBus} from '../main'
    
    export default {    
        methods: {
            deleteQuote() {
                eventBus.$emit('deleteQuote', this.index);
            }
        }
    }
</script>

<style scoped>
    .quote {
        display: inline-block;
    }
    .quote:hover {
        background-color: #ff6961;
    }
    blockquote {
        font-family: 'Indie Flower', cursive;
        border-left: none;
        margin: 10px;
        border: 1px solid grey;
    }
</style>