<template>
    <div>
        <div class="bar">
            <div class="bar-progress" :style="{width: barProgress}">
                <p class="text-center">{{ counter }} / {{ maxQuotes }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['counter', 'maxQuotes'],
        computed: {
            barProgress() {
                if (this.counter === 0) {
                    return '10%';
                } else {
                    return (this.counter * 10) + '%';
                }
            }
        }
    }
</script>

<style scoped>
    .bar {
        width: 100%;
        background-color: grey;
    }
    .bar-progress {
        background-color: #0084b4;
        width: inherit;
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s;
    }
    .bar-progress > p {
        color: white;
    }
</style>