<template>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md6 col-md-offset3 mx-auto">
        <h1 class="text-center">Math Quiz</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md6 col-md-offset3 mx-auto">
        <transition name="flip" mode="out-in">
          <component :is="mode" @answered="answered($event)" @nextQuestion="nextQuestion"></component>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import Question from './components/Question.vue';
  import Answer from './components/Answer.vue';

  export default {
    data() {
      return {
        mode: 'app-question'
      }
    },
    methods: {
      answered(isCorrect) {
        if (isCorrect) {
          this.mode = 'app-answer';
        } else {
          alert('You are wrong. Please try again');
        }
      },
      nextQuestion() {
        this.mode = 'app-question';
      }
    },
    components: {
      appQuestion: Question,
      appAnswer: Answer
    }
  }
</script>

<style scoped>
  /*
  .flip-enter {
    transform: rotateY(0deg);
  }*/

  .flip-enter-active {
    animation: flip-in 0.5s ease-out forwards;
  }

/*
  .flip-leave {
    transform: rotateY(0deg);
  }*/

  .flip-leave-active {
    animation: flip-out 0.5s ease-out forwards;
  }

  @keyframes flip-out {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }
  }

  @keyframes flip-in {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotate(0);
    }
  }
</style>