<template>
    <div class="text-center">
        <button class="btn btn-primary btn-lg ml-3" v-for="answer in options" :key="answer" @click="checkAnswer(answer)">{{ answer }}</button>
    </div>
</template>

<script>
    const ANSWER_NUMBER = 6;

    export default {
        data() {
            return {
                options: []
            }
        },
        props: {
            answer: {
                type: Number
            }
        },
        methods: {
            generateAnswers(correctAnswer) {
                return Math.floor((Math.random() * correctAnswer) + 10);
            },
            checkAnswer(answer) {
                if (answer === this.answer) {
                    this.$emit('answered', true);
                } else {
                    this.$emit('answered', false);
                }
            }
        },
        created() {
            let numbers = new Set();
            numbers.add(this.answer);
            for (;ANSWER_NUMBER > numbers.size;) {
                numbers.add(this.generateAnswers(this.answer));
            }
            this.options = Array.from(numbers);
            this.options.sort(function(a, b){return 0.5 - Math.random()});
        }
    }
</script>