<template>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Correct</h1>
            <hr>
            <button type="button" class="btn btn-secondary" @click="nextQuestion">Next Question</button>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            nextQuestion() {
                this.$emit('nextQuestion');
            }
        },
    }
</script>

<style scoped>
    .card {
        background-color: green;
        color: white;
    }
    .btn-secondary {
        background-color: white;
        color: black;
        font-weight: bold;
    }
</style>