<template>
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">{{ question | getQuestionStatement }}</h4>
        </div>
        <div class="card-body">
            <answers :answer="question.answer" @answered="answered($event)"></answers>
        </div>
    </div>
</template>

<script>
import Answers from './Answers.vue';

const QUESTION_TYPE = ['add', 'sub'];

export default {
    components: {
        'answers': Answers
    },
    data() {
        return {
            question: {}
        }
    },
    filters: {
        getQuestionStatement: function(question) {
            let statement = '';
            switch (question.type) {
                case 'add':
                    statement = `What's ${question.numbers[0]} + ${question.numbers[1]} ?`;
                    break;

                case 'sub':
                    statement = `What's ${question.numbers[0]} - ${question.numbers[1]} ?`;
                    break;

                default:
                    break;
            }
            return statement;
        }
    },
    methods: {
        answered(result){
            this.$emit('answered', result);
        },
        createQuestion() {
            let questionType = QUESTION_TYPE[this.generateRandomNumber(0, QUESTION_TYPE.length)];
            let firstNumber = this.generateRandomNumber(1, 100);
            let secondNumber = this.generateRandomNumber(1, 100);
            let question = {
                type: questionType,
                numbers: [firstNumber, secondNumber],
                answer: (questionType === 'add') ? firstNumber + secondNumber : firstNumber - secondNumber,
                correct: false
            }
            this.question = question;
        },
        generateRandomNumber(low, high) {
            return Math.floor((Math.random() * high) + low);
        }
    },
    created() {
        this.createQuestion();
    }
}
</script>