html {
    height: 100%;
}
body, #app, .player-box {
    height: inherit;
}
.player-box {
    align-items: center;
    justify-content: center;
}

.player-box .user-data {
    width: 100%;
}

.player-box input {
    font-size: 46px;
    border: none;
    width: inherit;
}

.player-box img.user {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.big-letter {
    font-size: 100px;
}

.fighter img.user, .fighter .name {
    margin-bottom: 20px;
}

.health-bar {
    background-color: lightgray;
}

.fighter .life {
    min-height: 25px;
    background-color: green;
    color: white;
    font-size: 20px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.dashboard {
    margin-top: 20px;
    display: block;
    margin: 50px auto;
}

.vs-dialog {
    align-items: center;
    justify-content: center;
    display: flex;
}