<template>
    <div class="container">
        <h1>Quotes counter</h1>
        <quotes-bar :counter="quotes.length" :maxQuotes="maxQuotes"></quotes-bar>
        <quotes-editor></quotes-editor>
        <quote v-for="(quote, index) in quotes" :key="quote">
            <blockquote>{{ quote }}</blockquote>
        </quote>
    </div>
</template>

<script>
    import quotesBar from './components/quotesBar.vue'
    import quotesEditor from './components/quotesEditor.vue'
    import quote from './components/quote.vue'
    import {eventBus} from './main'

    export default {
        data() {
            return {
                quotes: [],
                maxQuotes: 10
            }
        },
        watch: {
            quotes() {
                if (this.quotes.length === this.maxQuotes) {
                    eventBus.$emit('maxQuotes');
                }
            }
        },
        components: {
            'quotes-bar': quotesBar,
            'quotes-editor': quotesEditor,
            'quote': quote
        },
        created() {
            eventBus.$on('quoteCreated', (quote) => {
                this.quotes.push(quote);
            });
            eventBus.$on('deleteQuote', (index) => {
                this.quotes.splice(index, 1);
            });
        }
    }
</script>

<style>
</style>
