<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monster Battle - Vue application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container" id="app">
            <section class="row player-box" v-if="!dataEntered">
                <div class="user-data" v-if="showUsernameInput">
                    <input name="username" type="text" v-model="user.name" placeholder="Write here your username and press enter" @keyup.enter="usernameSubmit" autofocus>
                </div>
                <div class="user-data" v-if="showMonsterNameInput">
                    <input name="monstername" type="text" v-model="monster.name" placeholder="Write here your monster name and press enter" @keyup.enter="monsternameSubmit" autofocus>
                </div>
            </section>
            <section class="row" v-if="dataEntered">
                <div class="fighter col-md-4">
                    <img class="user" :src="usernameURL" alt="User Avatar"/>
                    <h4 class="name">{{ user.name }}</h4>
                    <p>Attack Power: {{ user.attackPower }}</p>
                    <p>Defense Power: {{ user.defensePower }}</p>
                    <p>Heal Power: {{ user.healPower }}</p>
                    <p>User targets: {{ user.targets }}</p>
                    <div class="health-bar">
                        <div class="life text-center" :style="{width: userLifeBar}">
                            <span>{{ user.life }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 vs-dialog">
                    <p class="text-center" v-if="!user.win && !monster.win">
                        <span class="big-letter col-md-4">VS</span>
                        <br>
                        <span><b>{{ user.name }} -> </b>{{ messages.attackUserMessage }}</span>
                        <br>
                        <span><b>{{ monster.name }} -> </b>{{ messages.attackMonstermessage }}</span>
                        <br>
                        <span>[{{ user.name }}]: {{ messages.userMessage }}</span>
                        <br>
                        <span>[{{ monster.name }}]: {{ messages.monsterMessage }}</span>
                    </p>
                    <div v-if="user.win && !monster.win">
                        <h1> {{ user.name }}</h1>
                        <h1> WIN </h1>
                    </div>
                    <div v-if="monster.win && !user.win">
                        <h1> {{ monster.name }}</h1>
                        <h1> WIN </h1>
                    </div>
                    <div v-if="monster.win && user.win">
                        <h1> DRAW </h1>
                    </div>
                </div>
                <div class="fighter col-md-4">
                    <img class="user" :src="monsterNameURL" alt="User Avatar"/>
                    <h4 class="name">{{ monster.name }}</h4>
                    <p>Attack Power: {{ monster.attackPower }}</p>
                    <p>Defense Power: {{ monster.defensePower }}</p>
                    <p>Heal Power: {{ monster.healPower }}</p>
                    <p>Monster targets: {{ monster.targets }}</p>
                    <div class="health-bar">
                        <div class="life text-center" :style="{width: monsterLifeBar}">
                            <span>{{ monster.life }}</span>
                        </div>
                    </div>
                </div>
                <div v-if="!gameStarted" class="row text-center dashboard">
                    <button @click="startGame">Start new battle</button>
                    <button @click="action('reset')">Reboot</button>
                </div>                
                <div v-else class="row text-center dashboard">
                    <button @click="action('attack')">Attack</button>
                    <button @click="action('special')">Special Attack</button>
                    <button v-if="userTarget" @click="action('heal', 'user')">Heal</button>
                    <button @click="action('giveUp')">Give Up</button>
                </div>
            </div>
        </section>
    </body>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/app.js"></script>
</html>